body{
    width: 90%;
    max-width: 900px;
    margin: auto;
    background-image: url(kepek/bodyHatter.jpg);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
main{
    background-color: #13073A;
    display: grid;
    grid-template-areas: 
    "h h h h h h"
    "h2 h2 h2 h2 h2 h2"
    "a a a a n n";
}
header{
    grid-area: h;
    padding: 5px;
    color: #f5dae1;
}
header p{
    text-align: center;
}
article{
    grid-area: a;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 5px;
}
.header2{
    grid-area: h2;
    text-align: center;
    color: #f5dae1;
}
header img {
    max-width: 100%;
    height: auto;
    border-top: 5px black solid;
    border-bottom: 5px black solid;
}
h1{
    text-align: center;
    background-color: #261758;
    border-radius: 5px;
    border: black 1px solid;
}
nav {
    grid-area: n;
}
nav ul{
    margin-top: 0px;
}
nav a{
    text-decoration: none;
    color: #ffd0db;
    padding: 10px;
}
nav li{
    padding: 5px;
    list-style: none;
    background-color: #403075;
    border: black 1px solid;
}
.jatekok{
    background-color: #403075;
    border:1px black solid;
    border-radius: 5px;
    width: 150px;
    height: 200px;
    padding: 5px;
    text-align: left;
}
.link{
    margin-top: 15px;
}
.link a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.479);
    padding: 5px;
    background-color: #403075;
    border: 1px black solid;
}
.link a:hover{
    background-color:#887BAf ;
    color: white;
}
.jatekok img{
    width: 150px;
    height: 150px;
    border-radius: 5px;
    
}
.jatekLeiras{
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: white;
}
.jatekLeiras img{
    width: 300px;
    height: auto;
    padding: 10px;
}
.jatekLeiras p{
    margin-top: 0px;
    text-align: justify;
    color: white;
}
.ertekeles {
    color: rgb(142, 127, 194);
}
.header3 h2{
    color: white;
    margin-bottom: 1px;
    margin-left: 10px;
}
.jatekLeiras td {
    padding:10px;
}